.kakProxoditPolet_section {
    position: relative;
    top: 900px;
    height: 900px;
    width: 1500px;
}

.kakProxoditPolet_h2 {
    position: absolute; 
    width: 770px;
    height: 152px;
    left: 365px;
    top: 120px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 69px;
    color: #FFB800;
    text-align: center;
}

.kakProxoditPolet_p1 {
    position: absolute;
    text-align: center;
    top: 300px;
    left: 150px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #4F2100;
}

.div_flex_conteiner {
    display: flex;
    position: relative;
    top: 450px;
    justify-content: space-between;
    width: 1200px;
    left: 150px;
    height: 250px;
}

.h3_kakPolet {
    position: absolute;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    top: 60px;
    line-height: 34px;
    color: #4F2100; 
}

.p1_kakPolet {
    position: absolute;
    top: 160px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #4F2100;
}

.conteinerFlex {
    width: 260px;
}

.button_kakPolet{
    position: absolute;
    width: 200px;
    height: 51px;
    left: 650px;
    top: 800px;
    background: #FFB800;
    border-radius: 30px;
    color: #4F2100;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.span_kakPolet {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("https://3dorovak.github.io/Balls_site/image/Ellipse\ 21.png") no-repeat center/30px 30px;
}

.spanText_kakPolet {
    position: absolute;
    top: 5px;
    left: 15px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.div_sectionOpt {
    background: url("https://3dorovak.github.io/Balls_site/image/bDPZs6x6cfE\ 122222.png");
    position: relative;
    top: 950px;
    height: 900px;
    width: 100%;
    text-align: center;
}

.p_div_sectionOpt {
    position: absolute;
    top: 300px;
    left: 380px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    line-height: 112px;
    color: #FFFFFF;
}
