.main_header {
    position: relative;
    width: 1492px;
    height: 890px;
    left: 0px;
    top: -9px;
    background: url(C:\Users\egort\OneDrive\Рабочий стол\Документы\GitHub\Balls_site\Сайт шары\image\IMG_0180 1start.png);
}

.div_header {
    position: fixed;
    width: 1500px;
    height: 72px;
    left: -8px;
    top: -7px;
    background: #FFE7AB;
    z-index: 100;
}

.phone {
    position: absolute;
    width: 150px;
    height: 19px;
    left: 53px;
    top: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #411B00;
}

.servic {
    position: absolute;
    width: 54px;
    height: 20px;
    left: 262px;
    top: 27px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #411B00;
}

.certificate {
    position: absolute;
    width: 105px;
    height: 20px;
    left: 375px;
    top: 25px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #411B00;
}

.reviews {
    position: absolute;
    width: 62px;
    height: 20px;
    left: 561px;
    top: 23px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #411B00;
}

.questions {
    position: absolute;
    width: 68px;
    height: 20px;
    left: 704px;
    top: 27px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #411B00;
}

.contacts {
    position: absolute;
    width: 77px;
    height: 20px;
    left: 894px;
    top: 27px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #411B00;
}

.button_header {
    position: absolute;
    width: 200px;
    height: 51px;
    left: 1089px;
    top: 10px;
    background: #FFB800;
    border-radius: 30px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4F2100;
}

.city {
    position: absolute;
    width: 131px;
    height: 20px;
    left: 1328px;
    top: 26px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #411B00;
}

.fly_text1 {
    position: absolute;
    width: 1334px;
    height: 224px;
    left: 124px;
    top: 192px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    line-height: 112px;
    color: #FFFFFF;
}

.fly_text2 {
    position: absolute;
    width: auto;
    height: 224px;
    left: 290px;
    top: 300px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 85px;
    line-height: 112px;
    color: #FFFFFF;
}

.text_p1 {
    position: absolute;
    width: 780px;
    height: 105px;
    left: 400px;
    top: 480px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.text_p2 {
    position: absolute;
    width: 780px;
    height: 105px;
    left: 400px;
    top: 520px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.text_p3{
    position: absolute;
    width: 780px;
    height: 105px;
    left: 410px;
    top: 560px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}